<h1>Game List</h1>
<div class="panel-body">  
    <table  class="table table-hover table-sm">  
        <thead class="thead-light">  
            <tr>  
                <th>Title</th>  
                <th>Console</th>  
                <th>Year</th>  
                <th>Developer</th>  
                <th>Price</th>  
                <th>Stock</th>  
                  
            </tr>  
        </thead>  
        <tbody>  
             <tr *ngFor="let game of games ">  
                <td>{{game.title}}</td>  
                <td>{{game.console}}</td>  
                <td>{{game.year}}</td> 
                <td>{{game.developer}}</td>  
                <td>{{game.price}}</td>  
                <td>{{game.stock}}</td> 
              </tr>   
        </tbody><br>  
    </table>  
</div>  
